*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(211, 7, 41);
    font-size: 20px;
}
nav ul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
    right:90px;
    padding: 10px 20px;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
#name{
    padding-right: 100px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#home{
    display: flex;
    background-color:rgb(72, 32, 218);
    height:70px;
    padding-top:40px;
    text-align:center;
    font-size:20px;
}
#profilepic{
    height:100px ;
    width:100px;
    margin:10px,10px,0,10px;
    border-radius:80px ;
}
#about{
    display:flex;
    align-items:center;
}
#image{
    border-radius:80px;
}

#work{
    background-color:aqua;
    color:black;
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:10px;
}
hr{
    width:1000px;
    }



.project{
    background-color:bisque;
    color: black;
    height:100px;
    width:200px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-around;
    border-radius:10px;
}
#skillscontainer{
    background-color:burlywood ;
}

#work p hr{
    margin-bottom:10px;
}
#work div{
    display:flex;
    justify-content:space-around;
    margin: 10px, 0;
    width:100%
}
li{
    display:flex;
    justify-content:space-around;
    width: 100%;
    list-style: none;
    padding-right: 20;
}
progress[value]{
    height: 20px;
    width: 200px;
   -webkit-appearance: none;
}
#resume{
    background-color:beige;
    padding: 5px,0,5px,0;
    font-size: 20px;
    text-align:center;
    color:black;
}
#contact{
 display: flex;
font-size:20px;
align-items: center;
flex-direction: column;
background-color:greenyellow;
color:black;
}
#bhuvanakalaiyan{
    padding-right: 20px;
    width: 40pxpx;
    height: 40px;
}